 @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
/*global style*/
/*custom css variables*/
:root{
     --bg-black-900:#000000;
     --bg-black-100:#dddddd;
     --bg-black-50:#eff0f4;
     --text-black-900:#000000;
     --text-black-700:#555555;
     --text-black-600:#666666;
     --text-black-300:#bbbbbb;
}
body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}
*:not(i)
{
     font-family: 'Lora', serif;
     font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:before,
:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
     vertical-align: middle;
     max-width: 100%;
}
.container{
     max-width: 1140px;
     /* background-color: red; */
     margin:auto;
} 
.row{
     display: flex;
     flex-wrap: wrap;

}
.justify-content-between{
     justify-content:space-between
}
/*header*/
.header {
  /* background-color: grey; */
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index:99;
}
.header .logo a{
     display: inline-block;
     text-align: center;
     line-height: 40px;
     border: 2px solid var(--skin-color);
     height: 40px;
     width: 40px;
     color: var(--skin-color);
     border-radius: 50%;
     font-size: 24px;
     font-weight: 600;
     text-transform: uppercase;
     /* background-color: rgb(226, 43, 195); */
}
.header .hamburger-btn{
     height: 40px;
     width: 40px;
     /* background-color: blue; */
     /* box-shadow: 0 0 10px; */
     display: flex;
     align-items:center;
     justify-content: center;
}

.header .hamburger-btn span{
     display:block;
     height:2px;
     width: 16px;
     background-color: var(--bg-black-900);
     position: relative;
}
.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
     content: ' ';
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--bg-black-900);
}
.header .hamburger-btn span:before{
     top:-6px;
}
.header .hamburger-btn span:after{
     top:6px;
}